* {
	margin: 0;
	padding: 0;
}

body {
    background-color: #f5f5f5;
	font-family: 'Noto Sans', sans-serif;
}

a,input {
	outline: none;
}

.bold {
	font-weight: 600;
}

.flex_container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 800px;
}

/*HEADER START*/

.flex_container header {
	width: 100%;
	height: 50px;
	position: fixed;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: #3A5795;
	color: antiquewhite;
}

.header_wrapper {
	min-width: 800px;
	width: 1250px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.header_left_side {
	height: 39px;
	width: 130px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.header_middle {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.header_middle ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	list-style: none;
	width: 650px;
}

.header_middle .fa {
	font-size: 14px;
	margin-right: 5px;
}

.header_middle li {
	text-align: center;
	padding: 2px 12px;
	line-height: 1.7;
	font-size: 14px;
}

.header_middle a {
	color: antiquewhite;
	text-decoration: none;
}

.header_middle .active {
	border-radius: 4px;
	background: #4463A5;
}

.header_middle li:hover {
	background: #4768ad;
	-webkit-transition: all .2s;
	transition: all .2s;
	border-radius: 4px;
	cursor: pointer;
}

.header_right_side {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 130px;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.header_right_side p {
	line-height: 1;
	font-size: 14px;
}

.header_right_side img {
	border-radius: 50%;
	width: 25px;
	height: 25px;
}

.header_right_side div {
	width: 25px;
	height: 25px;
	margin-right: 7px;
}

@media (max-width: 1000px) {
	.header_middle ul {
  		width: 540px;
  	}

	.header_middle li {
		line-height: 1.4;
		padding: 5px 10px;
	}

	.header_middle li:hover {
		border-radius: 0;
	}

	.header_middle .active {
		border-radius: 0;
	}

	.header_right_side {
		-webkit-box-pack: end;
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}

	.header_right_side p {
		display: none;
	}

	.header_right_side img {
		margin-right: 5px;
	}
}

/*HEADER END*/

/*MAIN START*/

main {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-top: 60px;
}

.main_wrapper {
	min-width: 800px;
	width: 1250px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

/*MAIN END*/

/*PANEL START*/
.panel {
    border: 0.5px;
    border-style: solid;
    border-color: #d2d3d6;
    margin: 5px;
}

.panel .panel-head {
    padding: 10px;
    background-color: #f6f7f8;
}

.panel .panel-content{
    padding: 10px;
    background-color: #FFF;
}

.space{
    text-align: center;
}

.space .smLeft{
    position: absolute;
    width: 50%;
    margin-left: 0;
    margin-top: 2.5%;
}

.space .smRight{
    position: absolute;
    width: 48.5%;
    margin-left: 50%;
    margin-top: 2.5%;
}

.space .laCenter{
    position: absolute;
    width: 98.5%;
}

.index{

}

.index .ToDoPosition{
    margin-top: 10%;
}

/*PANEL END*/

/*BUTTONS START*/

.link {
	display: inline-block;
	text-decoration: none;
	border-radius: 4px;
	color: white;
	width: 120px;
	padding: 8px 20px;
	box-shadow: 0 0 5px 0 #969696;
	border: none;
	font-size: 14px;
}

input[type=button],[type=submit],
[type=text],[type=password] {
	padding: 7px 15px;
	border: 1px solid;
	border-radius: 4px;
}

.blue {
	background: #3A5795;
	border-color: #3A5795;
	color: white;
}

.blue:hover {
	background: #4364ac;
	border-color: #4364ac;
	-webkit-transition: all .2s;
	transition: all .2s;
	cursor: pointer;
}

/*BUTTONS END*/

/*CONTACTS_PAGE START*/

.main_leftSide {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
/*	background: #ccc;*/
	width: 30%;
}

.main_leftSide a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	text-decoration: none;
	color: black;
}

.main_leftSide img {
	margin-right: 10px;
	border-radius: 50%;
}

.main_leftSide ul {
	list-style: none;
}

.main_leftSide li:nth-child(n+2) {
	margin-top: 10px;
}

.main_rightSide {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
/*	background: #ccc;*/
	width: 70%;
}

/*CONTACTS_PAGE END*/

/*FORM LOGIN REG START*/

.form_log_reg {
	position: absolute;
	width: 400px;
	height: 280px;
	padding: 20px 0;
	background: white;
	border-radius: 4px;
	text-align: center;
	margin: auto;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0 3px -1px #a2a2a2;
}

.height_reg {
	height: 385px;
}

.form_log_reg h1 {
	color: #272727;
	font-size: 24px;
	margin: 0;
}

.form_log_reg p {
	color: #272727;
	padding: 0 50px;
	font-size: 13px;
	margin: 10px 0 25px 0;
}

.form_log_reg .input_before {
	display: inline-block;
	padding: 11px 14px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	background: #ececec;
	font-size: 14px;
	position: absolute;
	margin: 5px -20px 0 0;
	color: #162953;
}

.form_log_reg input {
	border: none;
	background: #ececec;
	font-size: 14px;
	padding: 10px 0 10px 45px;
	width: 250px;
	margin: 5px 0;
	border-radius: 4px;
	border: 1px solid #ececec;
}

.form_log_reg input:focus {
	-webkit-transition: all .4s;
	transition: all .4s;
	background: white;
}

.form_log_reg .login_button {
	background: #4bb257;
	color: white;
	width: 120px;
	padding: 8px 20px;
	margin-top: 20px;
	box-shadow: 0 0 5px 0 #969696;
	cursor: pointer;
	border: none;
}

.form_log_reg .login_button:hover {
	-webkit-transition: all .4s;
	transition: all .4s;
	background: #51c15e;
}

.form_log_reg .login_button:active {
	-webkit-transition: none;
	transition: none;
	box-shadow: none;
}

.form_log_reg .login_button:focus {
	-webkit-transition: all .4s;
	transition: all .4s;
	background: #51c15e;
}

/*FORM LOGIN END*/
