* {
	margin: 0;
	padding: 0;
}

body {
    background-color: #f5f5f5;
	font-family: 'Roboto', sans-serif;
}

.main {
	display: flex;
	position: fixed;
	flex-direction: row;
	height: 100%;
	width: 100%;
	align-content: stretch;
}

.left {
	width: 7%;
	min-width: 80px;
	display: flex;
	flex-direction: column;
	background: #3a5795;
	justify-content: flex-start;
	align-items: center;
}

.left .logo {
	margin-top: 30px;
}

.left ul {
	margin-top: 100px;
}

.menu_icon li {
	list-style: none;
	padding: 8px 15px;
	margin-bottom: 8px;
	text-align: center;
	color: antiquewhite;
	border-radius: 4px;
	font-size: 20px;
	cursor: pointer;
}

.menu_icon .active {
	background:  #4463a5;
}

.menu_icon li:hover {
	background:  #4d71bc;
	transition: all .2s;
}

.right {
	width: 93%;
	position: absolute;
	z-index: 1;
}
.panel{
    border: 0.5px;
    border-style: solid;
    border-color: #d2d3d6;
    margin: 5px;
}
.panel .panel-head{
    padding: 10px;
    background-color: #f6f7f8;
}
.panel .panel-content{
    padding: 10px;
    background-color: #FFF;
}
.info{
    margin: 4px;
    font-size: 14px;
}
